<nav class="d-none infosidebar" [ngClass]="{'col-md-3 d-md-block': !this.showInfo}">
    <div class="infosidebar-sticky shadow-lg">
      <div *ngIf="this.algorithmService.currentAlgorithm.name" class="grid-container-algorithm infotext" id="infosidebarContent">

        <!-- This file contains the information for all the explanations on the sidebar 
      
            SMP
            EGS SMP
            HR/R
            HR/H
            SR 
            SPA
        -->
        
       

      </div>
    </div>
</nav>